:root {
  --bg-color: white;
  --bg-translucent-color: rgba(255, 255, 255, 0.9);
  --bg-secondary-color: rgba(240, 240, 240, 1);
  --fg-color: rgba(85, 85, 90, 1);
  --fg-secondary-color: rgba(85, 85, 90, .7);
  --border-color: rgba(0, 0, 0, .1);
  --heading-color: rgba(50, 50, 55, 1);
  --console-color: rgba(0, 0, 0, .4);
  --console-bg-color: rgba(0, 0, 0, .04);
  --a-color: rgba(65, 105, 190, 1);
  --hl-keyword: rgb(85, 140, 180);
  --hl-string: rgb(115, 105, 175);
  --hl-number: rgb(50, 160, 85);
  --hl-comment: rgba(100, 100, 100);
  --hl-title: rgb(165, 120, 20);
  --mat-standard-button-toggle-height: 32px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: var(--fg-color);
  background-color: var(--bg-color);
  line-height: 1.5;
  font-family: system-ui, -apple-system, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);

  a {
    color: var(--heading-color);
  }
}

a {
  color: var(--a-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code,
kbd,
pre,
samp {
  font-family: "Roboto Mono", monospace;
}

pre {
  padding: 32px;
  border-radius: 8px;
  background-color: var(--bg-secondary-color);
  line-height: 1.2;

  code {
    display: inline;
    padding: 0;
  }
}

@media (width < 600px) {
  pre {
    padding: 16px;
  }
}

code {
  display: inline-block;
  padding: 0 4px;
  font-size: 0.75rem;
  word-wrap: break-word;
  background-color: var(--bg-secondary-color);
  border-radius: 4px;
}

table {
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;

  th,
  td {
    padding: 8px;
    border: 1px solid var(--border-color);
  }
}

.gui-form {
  display: block;
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 4px;
  overflow: hidden;
}

.hljs-keyword {
  color: var(--hl-keyword);
}

.hljs-number {
  color: var(--hl-number);
}

.hljs-string {
  color: var(--hl-string);
}

.hljs-comment,
.hljs-quote {
  color: var(--hl-comment);
}

.hljs-title {
  color: var(--hl-title);
}
