.page-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px;
  margin: 16px 0;
  background-color: var(--bg-secondary-color);
  border-radius: 8px;
}

.page-header-text {
  h1 {
    margin: 0;
  }

  p {
    margin-top: 16px;
    margin-bottom: 0;
  }
}
