.gui-fill-picker {
  display: block;
  width: 15rem;
  border-radius: 0.5rem;
  background-color: var(--mat-expansion-container-background-color, var(--mat-sys-surface));
  color: var(--mat-expansion-container-text-color, var(--mat-sys-on-surface));
  box-shadow:
    inset 0 0 1px 0 rgba(255, 255, 255, 0.64),
    0 2px 4px 0 rgba(0, 0, 0, 0.16),
    0 8px 16px 0 rgba(0, 0, 0, 0.12),
    0 0 1px 0 rgba(0, 0, 0, 0.12);

  .color-picker {
    --cp-container-width: auto;
    --cp-container-padding: 0;
    --cp-container-shape: 0;
    --cp-container-elevation-shadow: none;
    --cp-container-background-color: transparent;
    --cp-container-text-color: var(--mat-form-field-filled-input-text-color, var(--mat-sys-on-surface));
  }

  .gradient-picker {
    --gp-container-width: auto;
    --gp-container-vertical-padding: 0;
    --gp-container-margin: -4px -12px;
    --gp-container-shape: 0;
    --gp-container-elevation-shadow: none;
    --gp-container-background-color: transparent;
    --gp-container-text-color: var(--mat-form-field-filled-input-text-color, var(--mat-sys-on-surface));
    --gp-input-background-color: var(--mat-form-field-filled-container-color, var(--mat-sys-surface-variant));
    --gp-radio-button-selected-background-color: var(--mat-button-toggle-selected-state-background-color,
        var(--mat-sys-secondary-container));
    --gp-radio-button-selected-outline-color: var(--mat-button-toggle-divider-color,
        var(--mat-sys-outline));
  }
}

.gui-fill-picker-header {
  padding: 0.375rem 0.375rem 0;
  line-height: 1;

  --mat-button-toggle-shape: 0;
  --mat-button-toggle-height: 1;

  .mat-button-toggle-group-appearance-standard {
    gap: 0.25rem;
    border: none;

    .mat-button-toggle-appearance-standard+.mat-button-toggle-appearance-standard {
      border: none;
    }
  }

  .mat-button-toggle-appearance-standard {
    border-radius: 0.25rem;

    .mat-button-toggle-label-content {
      padding: 0;
    }
  }
}

.gui-fill-picker-body {
  padding: 0.75rem;
}
