@if (type === 'all') {
  <div class="gui-fill-picker-header">
    <mat-button-toggle-group
      hideSingleSelectionIndicator
      [(ngModel)]="selectedType"
      (ngModelChange)="onTypeChange()"
    >
      @for (t of types; track $index) {
        <mat-button-toggle [value]="t.value" [title]="t.label">
          <mat-icon [svgIcon]="t.value" />
        </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
}

<div class="gui-fill-picker-body">
  @if (selectedType === 'solid') {
    <color-picker
      [(ngModel)]="fillValue.solid"
      (ngModelChange)="onSolidChange()"
      (valueChangeComplete)="onSolidChangeComplete()"
    />
  } @else if (selectedType === 'gradient') {
    <gradient-picker
      [(ngModel)]="fillValue.gradient"
      (ngModelChange)="onGradientChange()"
      (valueChangeComplete)="onGradientChangeComplete()"
    />
  } @else if (selectedType === 'image') {
    <gui-file-uploader
      type="image"
      [(ngModel)]="fillValue.image"
      (ngModelChange)="onImageChange()"
    />
  }
</div>
