.gui-inline-group {
  display: flex;
  padding: 0.25rem 0.5rem;

  mat-hint {
    width: 100%;
    line-height: var(--mat-form-field-subscript-text-line-height, var(--mat-sys-body-small-line-height));
    -webkit-font-smoothing: antialiased;
  }
}

.gui-inline-group-content {
  display: inline-flex;
  flex: 1;
  flex-flow: row wrap;
  margin: 0 -0.25rem;

  >.gui-field-group,
  >.gui-inline-group,
  >.mat-expansion-panel,
  >.gui-menu {
    width: 100%;
    padding: 0 0.25rem;
  }
}
