.gui-inline-group {
  display: flex;
  padding: 4px 8px;
}

.gui-inline-group-content {
  display: inline-flex;
  flex: 1;
  flex-flow: row wrap;
  margin: 0 -4px;

  >.gui-field-group,
  >.gui-inline-group,
  >.mat-expansion-panel {
    width: 100%;
    padding: 0 4px;
  }
}
