.gui-combobox {
  .mat-mdc-form-field .ng-select {
    padding-inline: 0.5rem;
    margin-inline: -0.5rem;
  }

  .ng-select {
    .ng-value-remove {
      font-family: math;
      font-size: 10px;
    }

    .ng-clear {
      font-family: math;
      font-size: 12px;
    }

    .ng-arrow {
      vertical-align: -1px;
    }
  }

  &.ng-dropdown-panel {
    padding: 0.5rem 0;

    .ng-option {
      padding: 0 0.5rem;
      line-height: var(--mat-option-label-text-line-height, var(--mat-sys-label-large-line-height));
    }

    .ng-tag-label {
      line-height: 1;
    }
  }
}
