<mat-form-field>
  <mat-icon matPrefix svgIcon="link" />

  <input matInput type="text" [ngModel]="url" [disabled]="disabled"
    [placeholder]="config.placeholder||''"
    (change)="onUrlChange($event)" (blur)="onBlur()">

  @if (url) {
    <button matSuffix mat-icon-button color="warn" [disabled]="disabled" (click)="onClear()">
      <mat-icon svgIcon="close" />
    </button>
  }
</mat-form-field>

<figure class="gui-file-content">
  @if (url) {
    @switch (type) {
      @case ('image') {
        <img [src]="url" />
      }
      @case ('video') {
        <video [src]="url"></video>
      }
      @case ('audio') {
        <audio [src]="url" controls></audio>
      }
      @default {
        <mat-icon svgIcon="file_outline" />
      }
    }
  } @else {
    <div class="gui-file-placeholder">
      <mat-icon svgIcon="file_upload" />
    </div>
  }

  <input #fileInput type="file" [accept]="accept" [name]="name"
    [disabled]="disabled" (change)="onFileChange($event)">
</figure>

@if (config.parentType==='inline') {
  <mat-hint>
    <gui-field-label [config]="config" />
  </mat-hint>
}
