<mat-form-field>
  <gui-icon-button-wrapper matPrefix>
    <mat-icon svgIcon="link" />
  </gui-icon-button-wrapper>

  <input
    matInput
    type="text"
    [ngModel]="url"
    [disabled]="disabled"
    [placeholder]="config.placeholder || ''"
    (change)="onUrlChange($event)"
    (blur)="onBlur()"
  />

  @if (url) {
    <gui-icon-button-wrapper matSuffix>
      <button mat-icon-button type="button" color="warn" [disabled]="disabled" (click)="onClear()">
        <mat-icon svgIcon="clear" />
      </button>
    </gui-icon-button-wrapper>
  }
</mat-form-field>

<figure class="gui-file-content">
  @if (url) {
    @switch (type) {
      @case ('image') {
        <img [src]="url" alt="" />
      }
      @case ('video') {
        <video [src]="url"></video>
      }
      @case ('audio') {
        <audio [src]="url" controls></audio>
      }
      @default {
        <mat-icon svgIcon="file" />
      }
    }
  } @else {
    <div class="gui-file-placeholder">
      <mat-icon svgIcon="upload" />
    </div>
  }

  <input
    #fileInput
    type="file"
    [accept]="accept"
    [name]="name"
    [disabled]="disabled"
    (change)="onFileChange($event)"
  />
</figure>

@if (config.parentType === 'inline') {
  <mat-hint>
    <gui-field-label [config]="config" />
  </mat-hint>
}
