.gui-file-uploader {
  display: block;
  overflow: auto;
  line-height: 1;

  .mat-mdc-form-field {
    width: 100%;
  }

  .gui-file-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5rem;
    margin: 0.25rem 0 0;
    padding: 0.25rem;
    background-color: var(--mat-form-field-filled-container-color, var(--mat-sys-surface-variant));
    border: 1px solid transparent;
    border-radius: 0.25rem;

    &:hover,
    &:focus-within {
      border-color: currentColor;
    }

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    input[type='file'] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .mat-icon svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
