<mat-form-field>
  <mat-icon matPrefix svgIcon="link"></mat-icon>

  <input matInput type="text" [ngModel]="url" [disabled]="disabled"
         [placeholder]="config.placeholder||''"
         (change)="onUrlChange($event)" (blur)="onBlur()">

  <button *ngIf="url" matSuffix mat-icon-button color="warn"
          [disabled]="disabled" (click)="onClear()">
    <mat-icon svgIcon="close"></mat-icon>
  </button>
</mat-form-field>

<figure class="gui-file-content">
  <ng-container *ngIf="url" [ngSwitch]="type">
    <img *ngSwitchCase="'image'" [src]="url">

    <video *ngSwitchCase="'video'" [src]="url"></video>

    <audio *ngSwitchCase="'audio'" [src]="url" controls></audio>

    <mat-icon *ngSwitchDefault svgIcon="file_outline"></mat-icon>
  </ng-container>

  <div *ngIf="!url" class="gui-file-placeholder">
    <mat-icon svgIcon="file_upload"></mat-icon>
  </div>

  <input #fileInput type="file" [accept]="accept" [name]="name"
         [disabled]="disabled" (change)="onFileChange($event)">
</figure>
