.gui-switch {
  .mdc-switch {
    --mdc-switch-track-width: 28px;
    --mdc-switch-handle-width: 14px;
    --mdc-switch-handle-height: 14px;
    --mdc-switch-state-layer-size: 24px;
  }

  .mat-mdc-slide-toggle {
    line-height: 1;
  }
}
