.gui-switch {
  .mat-mdc-slide-toggle {
    --mat-slide-toggle-unselected-handle-size: 0.5rem;
    --mat-slide-toggle-selected-handle-size: 0.75rem;
    --mat-slide-toggle-pressed-handle-size: 0.75rem;
    --mat-slide-toggle-selected-handle-horizontal-margin: 0;
    --mat-slide-toggle-selected-pressed-handle-horizontal-margin: 0;
    --mat-slide-toggle-unselected-handle-horizontal-margin: 0 0.25rem;
    --mat-slide-toggle-unselected-pressed-handle-horizontal-margin: 0 0.125rem;
    --mat-slide-toggle-track-outline-width: 1px;
    --mat-slide-toggle-track-width: 1.75rem;
    --mat-slide-toggle-track-height: 1rem;
    --mat-slide-toggle-track-shape: 0.5rem;
    --mat-slide-toggle-handle-width: 0.875rem;
    --mat-slide-toggle-state-layer-size: 1.5rem;

    line-height: var(--mat-slide-toggle-state-layer-size);
  }
}
