%img {
  height: 100%;
  max-width: 120px;
  object-fit: contain;
  border-radius: 4px;
  background-color: var(--mat-option-hover-state-layer-color);
}

.gui-image-select {
  --mat-form-field-container-vertical-padding: 0;

  .ng-select {
    padding: 0 8px;
    margin: 0 -8px;

    .ng-value-container {
      height: 64px;
    }

    .ng-value {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      height: 100%;
      padding: 8px 0;

      img {
        @extend %img;
      }
    }
  }

  &.ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-option {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 64px;
        padding: 8px;

        img {
          @extend %img;
        }
      }
    }
  }
}
