.demo-wrapper {
  position: relative;
  display: flex;
  margin: 24px 0;
  background-color: var(--bg-secondary-color);
  border-radius: 6px;
}

.demo-code {
  flex: 1;
  overflow: auto;

  pre {
    padding: 32px;
    margin: 0;
  }
}

.demo-result {
  width: 320px;
  padding: 32px;

  gui-form {
    display: block;
    background-color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: auto;
  }

}

.demo-console {
  padding: 4px;
  margin-top: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;

  textarea {
    display: block;
    width: 100%;
    padding: 0 4px;
    background-color: var(--console-bg-color);
    color: var(--console-color);
    border-width: 0;
    font-size: 12px;
    line-height: 20px;
    appearance: none;
    outline: none;
  }
}
