.container-wrap {
  display: block;
  max-width: 1280px;
  padding: 0 64px;
  margin: 0 auto;
}

.container {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 16px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-translucent-color);
  backdrop-filter: blur(6px);
}

aside {
  position: sticky;
  top: 0;
  display: block;
  width: 240px;
  height: 100vh;
  padding: 16px 0;
  margin-right: 32px;
  overflow: auto;
}

main {
  flex: 1;
}

footer {
  padding: 16px 0;
  margin-top: 64px;
  font-size: .75em;
  text-align: center;
}

.spacer {
  flex-grow: 1;
}
