mat-sidenav-container {
  --mat-sidenav-content-background-color: transparent;
  --mat-sidenav-container-divider-color: transparent;

  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
}

app-sidemenu {
  display: block;
  padding: 32px 0;
}

main {
  padding: 32px 64px;
}
