:host {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 16px;
  height: 100%;
}

section {
  position: relative;
  border: 1px solid var(--mat-divider-color);
  overflow: auto;
}

textarea {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  border: none;
  outline: none;
  resize: vertical;
  background: transparent;
  color: inherit;
}
