.gui-field-group {
  display: flex;
  padding: 0.25rem 0.5rem;
}

.gui-field {
  --mat-form-field-container-vertical-padding: 0.25rem;
  --mat-form-field-container-text-line-height: 1rem;
  --mat-form-field-container-text-size: 0.75rem;

  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;

  >.mat-mdc-form-field {
    flex: 1;
    width: 0;
    max-width: 100%;
  }

  .mat-mdc-text-field-wrapper,
  .mat-mdc-form-field-hint-wrapper {
    position: relative;
    padding: 0 0.5rem;
    border-radius: var(--mdc-filled-text-field-container-shape);

    [dir='rtl'] & {
      padding: 0 0.5rem;
    }
  }

  .mat-mdc-form-field-infix {
    min-height: auto;
  }

  .mat-mdc-form-field-hint-spacer,
  .mat-mdc-form-field-bottom-align::before,
  .mdc-line-ripple {
    display: none;
  }
}
