.gui-icon-button-wrapper {
  line-height: 1;

  .mat-mdc-icon-button {
    --mdc-icon-button-state-layer-size: 1.5rem;
    --mdc-icon-button-icon-size: 0.875rem;

    padding: 0;

    .mat-mdc-button-touch-target {
      width: var(--mdc-icon-button-state-layer-size);
      height: var(--mdc-icon-button-state-layer-size);
    }
  }

  .mat-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;

    svg {
      width: 0.875rem;
      height: 0.875rem;
    }
  }
}
