<form [formGroup]="form">
  @for (item of formFields; track item) {
    <div>
      <ng-template [ngTemplateOutlet]="controlType"
        [ngTemplateOutletContext]="{$implicit: item, formGroup: form}" />
    </div>
  }
</form>

<ng-template #controlType let-item let-parent="parent" let-form="formGroup">
  @if (item.show) {
    <ng-container [formGroup]="form">
      @switch (item.type) {
        @case ('text') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-input-text [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('number') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-input-number [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('select') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-select [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('switch') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-switch [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('slider') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-slider [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('buttonToggle') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-button-toggle [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('fill') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-fill [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('file') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-file-uploader [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('image') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-file-uploader type="image" [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('video') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-file-uploader type="video" [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('audio') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-file-uploader type="audio" [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('imageSelect') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-image-select [formControlName]="item.key" [config]="item" [appendTo]="'#'+uid" />
          </gui-field-group>
        }
        @case ('combobox') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-combobox [formControlName]="item.key" [config]="item" [appendTo]="'#'+uid" />
          </gui-field-group>
        }
        @case ('textarea') {
          <gui-field-group [config]="item" [flex]="item.col">
            <gui-textarea [formControlName]="item.key" [config]="item" />
          </gui-field-group>
        }
        @case ('hidden') {
          <input type="hidden" [formControlName]="item.key">
        }
        @case ('inline') {
          <gui-inline-group [config]="item" [formGroupName]="item.key">
            @for (child of item.children; track child) {
              <ng-template [ngTemplateOutlet]="controlType"
                [ngTemplateOutletContext]="{$implicit: child, parent: item, formGroup: form.get(item.key)}" />
            }
          </gui-inline-group>
        }
        @case ('group') {
          <mat-expansion-panel [formGroupName]="item.key"
            [(expanded)]="item.expanded" [disabled]="item.disabled">
            <mat-expansion-panel-header>
              <gui-field-label [config]="item" />
            </mat-expansion-panel-header>
            <!-- Lazy rendering -->
            <ng-template matExpansionPanelContent>
              @for (child of item.children; track child) {
                <div>
                  <ng-template [ngTemplateOutlet]="controlType"
                    [ngTemplateOutletContext]="{$implicit: child, parent: item, formGroup: form.get(item.key)}" />
                </div>
              }
            </ng-template>
          </mat-expansion-panel>
        }
        @case ('tabs') {
          <mat-expansion-panel [formArrayName]="item.key"
            [(expanded)]="item.expanded" [disabled]="item.disabled">
            <mat-expansion-panel-header>
              <gui-field-label [config]="item" />
              <!-- Show operation buttons when panel opened -->
              @if (item.expanded) {
                <gui-icon-button-wrapper>
                  <button mat-icon-button type="button" [color]="item.mode!=='list'?'primary':''"
                    (click)="changeTabsMode($event, item, 'normal')">
                    <mat-icon svgIcon="horizontal" />
                  </button>
                  <button mat-icon-button type="button" [color]="item.mode==='list'?'primary':''"
                    (click)="changeTabsMode($event, item, 'list')">
                    <mat-icon svgIcon="vertical" />
                  </button>
                  @if (item.template && (item.addable || item.addable===undefined)) {
                    <button mat-icon-button type="button" [disabled]="item.disabled"
                      (click)="addTab($event, form.get(item.key), item, true)">
                      <mat-icon svgIcon="copy" />
                    </button>
                    <button mat-icon-button type="button" [disabled]="item.disabled"
                      (click)="addTab($event, form.get(item.key), item)">
                      <mat-icon svgIcon="add" />
                    </button>
                    <button mat-icon-button type="button" [disabled]="item.disabled"
                      (click)="removeTab($event, form.get(item.key), item)">
                      <mat-icon svgIcon="delete" />
                    </button>
                  }
                </gui-icon-button-wrapper>
              }
            </mat-expansion-panel-header>
            <!-- Lazy rendering -->
            <ng-template matExpansionPanelContent>
              @if (item.mode!=='list') {
                <!-- Horizontal mode -->
                <mat-tab-group class="gui-tabs" disableRipple
                  [mat-stretch-tabs]="false" [(selectedIndex)]="item.selectedIndex">
                  @for (tab of item.children; track tab; let i = $index) {
                    <mat-tab [disabled]="tab.disabled">
                      <ng-template mat-tab-label>
                        <div>{{tab.name | ejs:{i} }}</div>
                      </ng-template>
                      <!-- FormControl & FormArray -->
                      @if (!tab.children || tab.children.length===0 || tab.type==='tabs') {
                        <ng-template [ngTemplateOutlet]="controlType"
                          [ngTemplateOutletContext]="{$implicit: tab, parent: item, formGroup: form.get([item.key])}" />
                      }
                      <!-- FormGroup -->
                      @if (tab.children?.length>0 && tab.type!=='tabs') {
                        @for (child of tab.children; track child) {
                          <div>
                            <ng-template [ngTemplateOutlet]="controlType"
                              [ngTemplateOutletContext]="{$implicit: child, parent: item, formGroup: form.get([item.key, i])}" />
                          </div>
                        }
                      }
                    </mat-tab>
                  }
                </mat-tab-group>
              } @else {
                <!-- Vertical mode -->
                <div class="gui-list">
                  @for (tab of item.children; track tab; let i = $index) {
                    <div class="gui-list-item"
                      [class.gui-list-item-active]="item.selectedIndex===i">
                      <div class="gui-list-item-heading">
                        <button class="gui-list-item-title"
                          (click)="item.selectedIndex=i">{{tab.name | ejs:{i} }}</button>
                        @if (item.template && (item.addable || item.addable===undefined)) {
                          <gui-icon-button-wrapper>
                            <button mat-icon-button type="button" [disabled]="item.disabled"
                              (click)="addTab($event, form.get(item.key), item, true, i)">
                              <mat-icon svgIcon="copy" />
                            </button>
                            <button mat-icon-button type="button" [disabled]="item.disabled"
                              (click)="addTab($event, form.get(item.key), item, false, i)">
                              <mat-icon svgIcon="add" />
                            </button>
                            <button mat-icon-button type="button" [disabled]="item.disabled"
                              (click)="removeTab($event, form.get(item.key), item, i)">
                              <mat-icon svgIcon="delete" />
                            </button>
                          </gui-icon-button-wrapper>
                        }
                      </div>
                      <div class="gui-list-item-content">
                        <!-- FormControl & FormArray -->
                        @if (!tab.children || tab.children.length===0 || tab.type==='tabs') {
                          <ng-template [ngTemplateOutlet]="controlType"
                            [ngTemplateOutletContext]="{$implicit: tab, parent: item, formGroup: form.get([item.key])}" />
                        }
                        <!-- FormGroup -->
                        @if (tab.children?.length>0 && tab.type!=='tabs') {
                          @for (child of tab.children; track child) {
                            <div>
                              <ng-template [ngTemplateOutlet]="controlType"
                                [ngTemplateOutletContext]="{$implicit: child, parent: item, formGroup: form.get([item.key, i])}" />
                            </div>
                          }
                        }
                      </div>
                    </div>
                  }
                </div>
              }
            </ng-template>
          </mat-expansion-panel>
        }
        @case ('menu') {
          <mat-tab-group class="gui-menu" [formGroupName]="item.key" disableRipple>
            @for (menuChild of item.children; track menuChild) {
              <mat-tab [label]="menuChild.name"
                [disabled]="menuChild.disabled">
                <ng-template matTabContent>
                  @if (menuChild.type==='menuItem') {
                    <!-- Must wrap with div -->
                    @for (controlItem of menuChild.children; track controlItem) {
                      <div [formGroupName]="menuChild.key">
                        <ng-template [ngTemplateOutlet]="controlType"
                          [ngTemplateOutletContext]="{$implicit: controlItem, formGroup: form.get([item.key, menuChild.key])}" />
                      </div>
                    }
                  }
                  <!-- Support for unlimited nesting -->
                  @if (menuChild.type==='menu') {
                    <ng-template [ngTemplateOutlet]="controlType"
                      [ngTemplateOutletContext]="{$implicit: menuChild, formGroup: form.get(item.key)}" />
                  }
                </ng-template>
              </mat-tab>
            }
          </mat-tab-group>
        }
      }
    </ng-container>
  }
</ng-template>
