<form [formGroup]="form">
  <div *ngFor="let item of formFields">
    <ng-template [ngTemplateOutlet]="controlType"
                 [ngTemplateOutletContext]="{$implicit: item, formGroup: form}">
    </ng-template>
  </div>
</form>

<ng-template #controlType let-item let-parent="parent" let-form="formGroup">
  <ng-container [ngSwitch]="item.type" [formGroup]="form">
    <!-- Text -->
    <gui-field-group *ngSwitchCase="'text'" [config]="item" [flex]="item.col">
      <gui-input-text [formControlName]="item.key" [config]="item"></gui-input-text>
    </gui-field-group>
    <!-- Number -->
    <gui-field-group *ngSwitchCase="'number'" [config]="item" [flex]="item.col">
      <gui-input-number [formControlName]="item.key" [config]="item"></gui-input-number>
    </gui-field-group>
    <!-- Select -->
    <gui-field-group *ngSwitchCase="'select'" [config]="item" [flex]="item.col">
      <gui-select [formControlName]="item.key" [config]="item"></gui-select>
    </gui-field-group>
    <!-- Switch -->
    <gui-field-group *ngSwitchCase="'switch'" [config]="item" [flex]="item.col">
      <gui-switch [formControlName]="item.key" [config]="item"></gui-switch>
    </gui-field-group>
    <!-- Slider -->
    <gui-field-group *ngSwitchCase="'slider'" [config]="item" [flex]="item.col">
      <gui-slider [formControlName]="item.key" [config]="item"></gui-slider>
    </gui-field-group>
    <!-- Button Toggle -->
    <gui-field-group *ngSwitchCase="'buttonToggle'" [config]="item" [flex]="item.col">
      <gui-button-toggle [formControlName]="item.key" [config]="item"></gui-button-toggle>
    </gui-field-group>
    <!-- Fill -->
    <gui-field-group *ngSwitchCase="'fill'" [config]="item" [flex]="item.col">
      <gui-fill [formControlName]="item.key" [config]="item"></gui-fill>
    </gui-field-group>
    <!-- File -->
    <gui-field-group *ngSwitchCase="'file'" [config]="item" [flex]="item.col">
      <gui-file-uploader [formControlName]="item.key" [config]="item"></gui-file-uploader>
    </gui-field-group>
    <!-- Image -->
    <gui-field-group *ngSwitchCase="'image'" [config]="item" [flex]="item.col">
      <gui-file-uploader type="image"
                         [formControlName]="item.key" [config]="item"></gui-file-uploader>
    </gui-field-group>
    <!-- Video -->
    <gui-field-group *ngSwitchCase="'video'" [config]="item" [flex]="item.col">
      <gui-file-uploader type="video"
                         [formControlName]="item.key" [config]="item"></gui-file-uploader>
    </gui-field-group>
    <!-- Audio -->
    <gui-field-group *ngSwitchCase="'audio'" [config]="item" [flex]="item.col">
      <gui-file-uploader type="audio"
                         [formControlName]="item.key" [config]="item"></gui-file-uploader>
    </gui-field-group>
    <!-- Image Select -->
    <gui-field-group *ngSwitchCase="'imageSelect'" [config]="item" [flex]="item.col">
      <gui-image-select [formControlName]="item.key" [config]="item"></gui-image-select>
    </gui-field-group>
    <!-- Textarea -->
    <gui-field-group *ngSwitchCase="'textarea'" [config]="item" [flex]="item.col">
      <gui-textarea [formControlName]="item.key" [config]="item"></gui-textarea>
    </gui-field-group>
    <!-- Hidden Input -->
    <input *ngSwitchCase="'hidden'" type="hidden" [formControlName]="item.key">

    <!-- Inline Group -->
    <gui-inline-group *ngSwitchCase="'inline'" [config]="item" [formGroupName]="item.key">
      <ng-container *ngFor="let child of item.children">
        <ng-template [ngTemplateOutlet]="controlType"
                     [ngTemplateOutletContext]="{$implicit: child, parent: item, formGroup: form.get(item.key)}">
        </ng-template>
      </ng-container>
    </gui-inline-group>

    <!-- Group -->
    <mat-expansion-panel *ngSwitchCase="'group'" [formGroupName]="item.key"
                         [(expanded)]="item.expanded" [disabled]="item.disabled">
      <mat-expansion-panel-header>
        <gui-field-label [config]="item"></gui-field-label>
      </mat-expansion-panel-header>
      <!-- Lazy rendering -->
      <ng-template matExpansionPanelContent>
        <div *ngFor="let child of item.children">
          <ng-template [ngTemplateOutlet]="controlType"
                       [ngTemplateOutletContext]="{$implicit: child, parent: item, formGroup: form.get(item.key)}">
          </ng-template>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <!-- Tabs -->
    <mat-expansion-panel *ngSwitchCase="'tabs'" [formArrayName]="item.key"
                         [(expanded)]="item.expanded" [disabled]="item.disabled">
      <mat-expansion-panel-header>
        <gui-field-label [config]="item"></gui-field-label>
        <!-- Show operation buttons after panel opened -->
        <ng-container *ngIf="item.expanded">
          <button mat-icon-button (click)="changeTabsMode($event, item, 'nav')"
                  [color]="item.mode!=='list'?'primary':''" type="button">
            <mat-icon svgIcon="dots_horizontal"></mat-icon>
          </button>
          <button mat-icon-button (click)="changeTabsMode($event, item, 'list')"
                  [color]="item.mode==='list'?'primary':''" type="button">
            <mat-icon svgIcon="dots_vertical"></mat-icon>
          </button>
          <ng-container *ngIf="item.template && (item.addable || item.addable===undefined)">
            <button mat-icon-button (click)="addTab($event, form.get(item.key), item)"
                    type="button" [disabled]="item.disabled">
              <mat-icon svgIcon="plus"></mat-icon>
            </button>
            <button mat-icon-button (click)="removeTab($event, form.get(item.key), item)"
                    type="button" [disabled]="item.disabled">
              <mat-icon svgIcon="delete"></mat-icon>
            </button>
          </ng-container>
        </ng-container>
      </mat-expansion-panel-header>
      <!-- Lazy rendering -->
      <ng-template matExpansionPanelContent>
        <!-- Horizontal nav mode -->
        <mat-tab-group *ngIf="item.mode!=='list'" class="gui-tabs"
                       [mat-stretch-tabs]="false" disableRipple>
          <mat-tab *ngFor="let tab of item.children; index as i" [disabled]="tab.disabled">
            <ng-template mat-tab-label>
              <div>{{tab.name | ejs:{i} }}</div>
            </ng-template>
            <!-- FormControl & FormArray -->
            <ng-container *ngIf="!tab.children || tab.children.length===0 || tab.type==='tabs'">
              <ng-template [ngTemplateOutlet]="controlType"
                           [ngTemplateOutletContext]="{$implicit: tab, parent: item, formGroup: form.get([item.key])}">
              </ng-template>
            </ng-container>
            <!-- FormGroup -->
            <ng-container *ngIf="tab.children?.length>0 && tab.type!=='tabs'">
              <div *ngFor="let child of tab.children">
                <ng-template [ngTemplateOutlet]="controlType"
                             [ngTemplateOutletContext]="{$implicit: child, parent: item, formGroup: form.get([item.key, i])}">
                </ng-template>
              </div>
            </ng-container>
          </mat-tab>
        </mat-tab-group>

        <!-- Vertical list mode -->
        <div class="gui-list" *ngIf="item.mode==='list'">
          <div class="gui-list-item" *ngFor="let tab of item.children; index as i">
            <div class="gui-list-item-heading">
              <span class="gui-list-item-title">{{tab.name | ejs:{i} }}</span>
              <ng-container *ngIf="item.template && (item.addable || item.addable===undefined)">
                <button mat-icon-button (click)="addTab($event, form.get(item.key), item, i)"
                        type="button" [disabled]="item.disabled">
                  <mat-icon svgIcon="plus"></mat-icon>
                </button>
                <button mat-icon-button (click)="removeTab($event, form.get(item.key), item, i)"
                        type="button" [disabled]="item.disabled">
                  <mat-icon svgIcon="delete"></mat-icon>
                </button>
              </ng-container>
            </div>
            <div class="gui-list-item-content">
              <!-- FormControl & FormArray -->
              <ng-container *ngIf="!tab.children || tab.children.length===0 || tab.type==='tabs'">
                <ng-template [ngTemplateOutlet]="controlType"
                             [ngTemplateOutletContext]="{$implicit: tab, parent: item, formGroup: form.get([item.key])}">
                </ng-template>
              </ng-container>
              <!-- FormGroup -->
              <ng-container *ngIf="tab.children?.length>0 && tab.type!=='tabs'">
                <div *ngFor="let child of tab.children">
                  <ng-template [ngTemplateOutlet]="controlType"
                               [ngTemplateOutletContext]="{$implicit: child, parent: item, formGroup: form.get([item.key, i])}">
                  </ng-template>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <!-- Menu -->
    <mat-tab-group class="gui-menu" *ngSwitchCase="'menu'" [formGroupName]="item.key" disableRipple>
      <mat-tab *ngFor="let menuChild of item.children" [label]="menuChild.name"
               [disabled]="menuChild.disabled">
        <ng-template matTabContent>
          <ng-container *ngIf="menuChild.type==='menuItem'">
            <!-- Must wrap with div -->
            <div *ngFor="let controlItem of menuChild.children" [formGroupName]="menuChild.key">
              <ng-template [ngTemplateOutlet]="controlType"
                           [ngTemplateOutletContext]="{$implicit: controlItem, formGroup: form.get([item.key, menuChild.key])}">
              </ng-template>
            </div>
          </ng-container>
          <!-- Support for unlimited nesting -->
          <ng-container *ngIf="menuChild.type==='menu'">
            <ng-template [ngTemplateOutlet]="controlType"
                         [ngTemplateOutletContext]="{$implicit: menuChild, formGroup: form.get(item.key)}">
            </ng-template>
          </ng-container>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </ng-container>
</ng-template>
