/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import '@ng-matero/extensions/prebuilt-themes/indigo-pink.css';

@use './theme';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.gui-form {
  background-color: white;

  .dark-theme & {
    background-color: transparent;
  }
}
