/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;

html {
  color-scheme: light;

  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

.theme-dark {
  color-scheme: dark;
}
