<mat-button-toggle-group [(ngModel)]="value" [disabled]="disabled" [multiple]="config.multiple"
                         (change)="onValueChange()">
  <mat-button-toggle *ngFor="let option of config.options"
                     [value]="option.value"
                     [style.flex]="option.col"
                     [class]="{'gui-icon-toggle': config.useIcon}"
                     [disabled]="option.disabled"
                     [title]="config.useIcon ? option.label : ''">
    <gui-icon *ngIf="config.useIcon; else textLabel" [src]="option.src!"></gui-icon>
    <ng-template #textLabel>{{option.label}}</ng-template>
  </mat-button-toggle>
</mat-button-toggle-group>
<mat-hint *ngIf="config.parentType==='inline'">
  <gui-field-label [config]="config"></gui-field-label>
</mat-hint>
