.gui-button-toggle {
  --mat-button-toggle-shape: 0.25rem;
  --mat-button-toggle-height: 1.5rem;
  --mat-button-toggle-label-text-size: 0.75rem;
  --mat-button-toggle-label-text-weight: 400;
  --mat-button-toggle-label-text-line-height: var(--mat-button-toggle-height);

  .mat-button-toggle-group {
    flex-wrap: wrap;
    border-width: 0;
  }

  .mat-button-toggle-group-appearance-standard {
    .mat-button-toggle-appearance-standard + .mat-button-toggle-appearance-standard {
      border-width: 0;
    }
  }

  .mat-button-toggle-appearance-standard {
    background-color: var(--mat-form-field-filled-container-color, var(--mat-sys-surface-variant));
  }
}

.gui-icon-toggle {
  &.mat-button-toggle {
    .mat-button-toggle-label-content {
      padding: 0;
      line-height: normal;
    }
  }

  .mat-button-toggle-button {
    display: flex;
  }

  &.mat-button-toggle-checked img {
    opacity: 0.64;
  }
}
