<mat-button-toggle-group [(ngModel)]="value" [disabled]="disabled" [multiple]="config.multiple"
                         (change)="onValueChange()">
  <mat-button-toggle *ngFor="let opt of config.options" disableRipple
                     [class]="{'gui-icon-toggle': config.useIcon}"
                     [flex]="opt.col"
                     [value]="opt.value"
                     [disabled]="opt.disabled"
                     [title]="config.useIcon ? opt.label : ''">
    <gui-icon *ngIf="config.useIcon; else textLabel" [src]="opt.src!" />
    <ng-template #textLabel>{{opt.label}}</ng-template>
  </mat-button-toggle>
</mat-button-toggle-group>
<mat-hint *ngIf="config.parentType==='inline'">
  <gui-field-label [config]="config" />
</mat-hint>
