.gui-icon {
  display: inline-flex;

  img,
  i {
    display: block;
    width: var(--mat-button-toggle-height);
    height: var(--mat-button-toggle-height);
    line-height: var(--mat-button-toggle-height);
  }
}
