<mat-form-field>
  @if (config.prefix) {
    <span matPrefix>{{ config.prefix }}</span>
  }
  <input
    matInput
    type="number"
    [(ngModel)]="value"
    [disabled]="disabled"
    [placeholder]="config.placeholder || ''"
    [step]="config.step"
    [min]="config.min!"
    [max]="config.max!"
    (change)="onValueChange()"
  />
  @if (config.suffix) {
    <span matSuffix>{{ config.suffix }}</span>
  }
  @if (config.parentType === 'inline') {
    <mat-hint>
      <gui-field-label [config]="config" />
    </mat-hint>
  }
</mat-form-field>
