.gui-field-label {
  display: inline-block;
  width: 64px;
  height: 24px;
  padding: 0 4px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gui-field-label-with-description {
  text-decoration: underline dotted;
  cursor: help;
}
