.gui-codearea {
  position: relative;
  overflow: auto;
  border: 1px solid var(--mat-form-field-outlined-outline-color, var(--mat-sys-outline));
  border-radius: var(--mat-form-field-outlined-container-shape, var(--mat-sys-corner-extra-small));

  .code-editor {
    width: 100%;
    min-height: 1.5rem;
    overflow: auto;
    resize: vertical;
  }

  &:hover {
    .gui-codearea-btns {
      display: block;
    }
  }
}

.gui-codearea-btns {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  margin: 2px;

  [dir='rtl'] & {
    left: 0;
    right: auto;
  }

  .gui-icon-button-wrapper {
    .mat-mdc-icon-button,
    .mat-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .mat-mdc-icon-button {
    backdrop-filter: blur(8px);
    border-radius: 0.25rem;

    .mat-mdc-button-persistent-ripple {
      border-radius: inherit;
    }
  }
}
