.gui-codearea {
  position: relative;
  overflow: auto;
  border: 1px solid var(--mdc-outlined-text-field-outline-color);
  border-radius: var(--mdc-outlined-text-field-container-shape);

  .code-editor {
    width: 100%;
    min-height: 1.5rem;
    overflow: auto;
    resize: vertical;
  }

  &:hover {
    .gui-codearea-btns {
      display: block;
    }
  }
}

.gui-codearea-btns {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  margin: 2px;

  [dir='rtl'] & {
    left: 0;
    right: auto;
  }

  .mat-mdc-icon-button,
  .mat-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .mat-mdc-icon-button {
    backdrop-filter: blur(8px);
    border-radius: 0.25rem;

    .mat-mdc-button-persistent-ripple {
      border-radius: inherit;
    }
  }
}
