.gui-select {
  --mat-select-trigger-text-size: 12px;
  --mat-option-label-text-size: 12px;

  .mat-mdc-option {
    min-height: var(--mat-option-label-text-line-height);
    padding: 0 8px !important;

    .mat-pseudo-checkbox-full {
      margin-right: 8px;

      [dir='rtl'] & {
        margin-right: 0;
        margin-left: 8px;
      }
    }
  }

  .mat-pseudo-checkbox {
    width: 16px;
    height: 16px;
    border-width: 1px;
  }
}
