<mat-form-field>
  <span *ngIf="config.prefix" matPrefix>{{config.prefix}}</span>
  <mat-select panelClass="gui-select" hideSingleSelectionIndicator disableRipple
              [(ngModel)]="value"
              [disabled]="disabled"
              [placeholder]="config.placeholder||''"
              [multiple]="config.multiple || false"
              (selectionChange)="onValueChange()">
    <mat-option *ngFor="let opt of config.options" [value]="opt.value" [disabled]="opt.disabled">
      <span [style]="{fontFamily: config.useFont ? opt.value : ''}">{{opt.label}}</span>
    </mat-option>
  </mat-select>
  <span *ngIf="config.suffix" matSuffix>{{config.suffix}}</span>
  <mat-hint *ngIf="config.parentType === 'inline'">
    <gui-field-label [config]="config" />
  </mat-hint>
</mat-form-field>
