.gui-select {
  --mat-select-trigger-text-line-height: 1rem;
  --mat-select-trigger-text-size: 0.75rem;
  --mat-option-label-text-size: 0.75rem;

  .mat-mdc-option {
    min-height: var(--mat-option-label-text-line-height, var(--mat-sys-label-large-line-height));
    padding: 0 0.5rem;

    .mat-pseudo-checkbox-full {
      margin-right: 0.5rem;

      [dir='rtl'] & {
        margin-right: 0;
        margin-left: 0.5rem;
      }
    }
  }

  .mat-mdc-select-arrow-wrapper {
    height: 1rem;
  }

  .mat-pseudo-checkbox {
    width: 1rem;
    height: 1rem;
    border-width: 1px;
  }
}
