.menu,
.submenu {
  padding: 0;
  margin: 0;
  list-style-type: none;

  a {
    display: block;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;

    &:hover {
      background-color: var(--bg-secondary-color);
    }
  }
}

.menu-item {
  >a {
    margin-top: 24px;
    font-weight: 500;
    color: var(--fg-color);
  }

  &:first-child {
    >a {
      margin-top: 0;
    }
  }
}

.submenu-item {
  >a {
    color: var(--fg-secondary-color);
  }
}
