<!-- 普通滑块 -->
<ng-container *ngIf="config.mode!=='range'">
  <mat-slider [disabled]="disabled"
              [step]="config.step"
              [min]="config.min"
              [max]="config.max">
    <input matSliderThumb [(ngModel)]="value" (valueChange)="onValueChange()">
  </mat-slider>
  <mat-form-field>
    <span *ngIf="config.prefix" matPrefix>{{config.prefix}}</span>
    <input matInput type="number"
           [(ngModel)]="value"
           [disabled]="disabled"
           [step]="config.step"
           [min]="config.min!"
           [max]="config.max!"
           (change)="onValueChange()">
    <span *ngIf="config.suffix" matSuffix>{{config.suffix}}</span>
  </mat-form-field>
</ng-container>

<!-- 区间滑块 -->
<ng-container *ngIf="config.mode==='range'">
  <mat-slider [disabled]="disabled"
              [step]="config.step"
              [min]="config.min"
              [max]="config.max">
    <input matSliderStartThumb [(ngModel)]="minValue" (valueChange)="onRangeInputChange()">
    <input matSliderEndThumb [(ngModel)]="maxValue" (valueChange)="onRangeInputChange()">
  </mat-slider>
  <mat-form-field>
    <span *ngIf="config.prefix" matPrefix>{{config.prefix}}</span>
    <input matInput type="number"
           [(ngModel)]="minValue"
           [disabled]="disabled"
           [step]="config.step"
           [min]="config.min!"
           [max]="config.max!"
           (change)="onRangeInputChange()">
    <span *ngIf="config.suffix" matSuffix>{{config.suffix}}</span>
  </mat-form-field>
  <mat-form-field>
    <span *ngIf="config.prefix" matPrefix>{{config.prefix}}</span>
    <input matInput type="number"
           [(ngModel)]="maxValue"
           [disabled]="disabled"
           [step]="config.step"
           [min]="config.min!"
           [max]="config.max!"
           (change)="onRangeInputChange()">
    <span *ngIf="config.suffix" matSuffix>{{config.suffix}}</span>
  </mat-form-field>
</ng-container>

<!-- 底部标签 -->
<mat-hint *ngIf="config.parentType==='inline'">
  <gui-field-label [config]="config"></gui-field-label>
</mat-hint>
