.gui-slider {
  .mat-slider {
    flex: 1;
    min-width: 0;
    margin-left: -8px;

    + .mat-form-field {
      width: 68px;
      max-width: 68px;
    }
  }

  .mtx-slider {
    flex: 2;
    min-width: 0;
    margin-left: -8px;
  }

  .mat-form-field {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      appearance: none;
    }
  }
}
